<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title= 'Programmatie')"></head>
<body>
<nav th:replace="fragments::nav"></nav>
<div class="jumbotron">

<div class="container"  >
    <h1 th:text="${genrenaam}" class="mt-3"> </h1>
    <div class="card top-buffer" th:each="voorstelling:${voorstellingen}" th:object="${voorstelling}">
        <div class="card  ">

            <h5 class="card-header text-white bg-secondary h2"> <u th:text="*{titel}"></u></h5>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-7">

                            <h2 class="card-title" th:text="*{uitvoerders}"></h2>
                            <p class="card-text" th:text="*{stringDatum}"></p>

                            <br>
                            <p class="card-text uitverkocht" th:if="*{uitverkocht}">UITVERKOCHT</p>
                            <p class="card-text " th:if="not*{uitverkocht}" th:text="${voorstelling.vrijeplaatsen + ' tickets beschikbaar.' }"></p>


                            <a th:href="@{/voorstellingen/{id}(id=*{id})}" class="btn btn-info">meer info</a>
                        </div>

                        <div class="col">
                            <img class="img-fluid" th:src="@{/images/uitverkocht.png}" th:if="*{uitverkocht}"></img>
                        </div>
                        <div class="col-1">
                        </div>

                    </div></div>

    </div>
</div></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>