<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title= 'Voorstellingen')"></head>
<body>
<nav th:replace="fragments::nav"></nav>

<div class="jumbotron">
<div class="container top-buffer">
    <h1 class="mt-3">Programmering </h1>
    <div class="card top-buffer" th:each="voorstelling:${voorstellingen}" th:object="${voorstelling}">
        <div class="card  ">

        <h5 class="card-header text-white bg-secondary"th:text="*{titel}"></h5>
        <div class="card-body">
            <h5 class="card-title" th:text="*{uitvoerders}"></h5>
            <p class="card-text" th:text="*{stringDatum}"></p>
            <p class="card-text uitverkocht" th:if="*{uitverkocht}">UITVERKOCHT</p>
            <p class="card-text " th:if="not*{uitverkocht}">Tickets beschikbaar</p>
            <a th:href="@{/voorstellingen/{id}(id=*{id})}" class="btn btn-info">meer info</a>
        </div>
    </div>

</div>
</div></div>
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="css/bootstrap-4.1.3-dist/js/jquery-1.8.0.js"></script>
<script type="text/javascript" src="css/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
</body>
</html>