<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title= 'Voorstellingen')"></head>
<body>
<nav th:replace="fragments::nav"></nav>
<div class="jumbotron">
<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Aanmelden</h5>
                                <p class="text-center small">Gebruikersnaam en wachtwoord.</p>
                            </div>
                            <form th:action="@{/login}" method="post" class="row g-3 needs-validation" novalidate>

                                <div class="col-12">
                                    <label for="yourUsername" class="form-label">Gebruiker</label>
                                    <div class="input-group has-validation">

                                        <input type="text" name="username" class="form-control" id="yourUsername"required>
                                        <div class="invalid-feedback">Geef je gebruikersnaam.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Paswoord</label>
                                    <input type="password" name="password" class="form-control" id="yourPassword" required>
                                    <div class="invalid-feedback">Geef je paswoord!</div>
                                </div>
                                <div class="col-12">
                                    <br>
                                    <button class="btn btn-info w-100" type="submit">Login</button>
                                </div>
                                <div class="col-12">
                                    <p class="text-center">Nog geen profiel? <a class="text-info" th:href="@{/registratie}" id="signup">Registreer</a></p>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div th:if="${param.error}">Verkeerde gebruikersnaam of paswoord</div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>